* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background-color: #2b2b2b;
  color: #e0e0e0;
  font-family: 'Courier New', Courier, monospace;
}

body::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.1) 50%),
    linear-gradient(90deg,
      rgba(255, 0, 0, 0.02),
      rgba(0, 255, 0, 0.01),
      rgba(0, 0, 255, 0.02));
  z-index: 9998;
  background-size: 100% 4px, 3px 100%;
  pointer-events: none;
}